/*
 * @Author: ChuanShi.ghy
 * @Date: 2018-03-19 13:08:24
 * @Last Modified by:   ChuanShi.ghy
 * @Last Modified time: 2018-03-19 13:08:24
 */
.container {
  width: 100;
  height: 100;
  margin-left: 200;
  margin-top: 200;
  background-color: #5c8fdb;
  border-radius: 10;
}